# .gitattributes
* text=auto
* text eol=lf
*.zip -text -diff -merge -eol
*.png -text -diff -merge -eol
*.jpg -text -diff -merge -eol
*.jpeg -text -diff -merge -eol
*.webp -text -diff -merge -eol
*.ico -text -diff -merge -eol
# GitHub Linguist Override
.yarn/* linguist-vendored
.pnp.js linguist-vendored
