backend:
  name: github
  repo: NicholasMTElliott/nicholasmtelliott
  branch: main

# For local editing with `npx decap-server`.
local_backend: true

media_folder: "static/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "company"
    label: "Company"
    folder: "content/company"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Start Date", name: "startdate", widget: "datetime"}
      - {label: "End Date", name: "enddate", widget: "datetime"}
      - {label: "Featured Image", name: "thumbnail", widget: "image"}
      - {label: "Key", name: "key", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}