@import '../../static/root.scss';

.portfolioContent {
	display:flex;
	flex-direction: row;
	align-items: stretch;
	padding-top: 32px;

	aside {
		width: 140px;
		flex-shrink: 0;
	}

	main {
		flex-grow:1;
		flex-shrink: 1;
	}
}