@import '../../../static/root.scss';

.portfolioContent {
	display:flex;
	flex-direction: row;
	align-items: stretch;
	flex-grow: 1;

	aside {
		margin-top: 100px;
		width: 240px;
		flex-shrink: 0;
		padding: 8px;
		background: $forestGreen;
		display:flex;
		flex-direction: row-reverse;
		align-items: stretch;

		.timeline
		{
			padding-top: 32px;
			padding-right: 16px;
			
		}

		.gutter
		{
			border-left: 4px solid blue;
			width: 16px;
		}

		section {
			position: relative;
			width:100%;
			background-color:white;
			padding: 16px;
			border-radius: 4px;
			box-shadow: 1px 1px 1px black;
		}
		.notch
		{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -26px;
		}
	}

	main {
		padding-top: 32px;
		flex-grow:1;
		flex-shrink: 1;
	}
}